<!DOCTYPE html>
<html >
    <head>
        <title>bootstrap</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container">
	<header>
		<ul>
		   	<li><a href="project.html">PROJECT NAME</a></li>
			<li class="active"><a href="index.html">HOME</a></li>
			<li><a href="about.html">ABOUT</a></li>
			<li><a href="contact.html">CONTACT</a></li>
		</ul>
	</header>
    </body>
</html>